

<p id="notice"><%= notice %></p>

<h2>Jobs Index Page</h2>

<%= react_component 'Milestones', { data: @milestones } %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <h2> Hello! </h2>
    <% @jobs.each do |job| %>
      <tr>
        <td>Id: <%= job.id %></td>
        <td><%= link_to 'Show ', job %></td>
        <td><%= link_to 'Edit ', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy ', job, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>

<h2> THIS PAGE SHOW ALL CURRENT JOBS </h2>